<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.2</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{3542.0,1780.0}</string>
        <key>name</key>
        <string>Untitled</string>
        <key>textureFileName</key>
        <string>windlines.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>comp 2 /Comp 1/Comp 1_00000.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00001.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{506.0,0.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00002.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{1012.0,0.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00003.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{1518.0,0.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00004.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{2024.0,0.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00005.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{2530.0,0.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00006.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{3036.0,0.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00007.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{0.0,356.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00008.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{506.0,356.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00009.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{1012.0,356.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00010.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{1518.0,356.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00011.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{2024.0,356.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00012.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{2530.0,356.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00013.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{3036.0,356.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00014.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{0.0,712.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00015.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{506.0,712.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00016.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{1012.0,712.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00017.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{1518.0,712.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00018.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{2024.0,712.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00019.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{2530.0,712.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00020.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{3036.0,712.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00021.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{0.0,1068.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00022.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{506.0,1068.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00023.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{1012.0,1068.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00024.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{1518.0,1068.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00025.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{2024.0,1068.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00026.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{2530.0,1068.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00027.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{3036.0,1068.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>comp 2 /Comp 1/Comp 1_00037.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.0}</string>
            <key>spriteSourceSize</key>
            <string>{506.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{506.0,356.0}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{0.0,1424.0},{506.0,356.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
                <string>comp 2 /Comp 1/Comp 1_00028.png</string>
                <string>comp 2 /Comp 1/Comp 1_00029.png</string>
                <string>comp 2 /Comp 1/Comp 1_00030.png</string>
                <string>comp 2 /Comp 1/Comp 1_00031.png</string>
                <string>comp 2 /Comp 1/Comp 1_00032.png</string>
                <string>comp 2 /Comp 1/Comp 1_00033.png</string>
                <string>comp 2 /Comp 1/Comp 1_00034.png</string>
                <string>comp 2 /Comp 1/Comp 1_00035.png</string>
                <string>comp 2 /Comp 1/Comp 1_00036.png</string>
                <string>comp 2 /Comp 1/Comp 1_00038.png</string>
                <string>comp 2 /Comp 1/Comp 1_00039.png</string>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{506.0,1424.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
